.cta {
	@extend .container;
	@include mq($until: medium) {
		padding: 0;
		// margin-bottom: 0;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 20px;
		background-color: var(--color-primary-light);
		padding: var(--spacing-s);
		@include mq(large) {
			padding: var(--spacing-xxl);
		}

		h2, h3, h4, h5 {
			text-transform: none;
			color: var(--color-secondary);
		}
	}
}

.cta.bkg--white + .bkg--white {
	@include mq($until: medium) {
		padding-top: var(--spacing-s);
	}
}