.cta {
	@extend .container;
	&__content {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 20px;
		background-color: var(--color-primary-light);
		padding: var(--spacing-s) var(--spacing-xs);
		@include mq($until: medium) {
			br {
				display: none;
			}
		}
		@include mq(medium) {
			flex-direction: row;
			padding: var(--spacing-s);
		}
		@include mq(large) {
			padding: var(--spacing-s);
		}

		h2, h3, h4, h5 {
			text-transform: none;
			color: var(--color-secondary);
		}
	}
}

.cta.bkg--white + .bkg--white {
	@include mq($until: medium) {
		padding-top: var(--spacing-s);
	}
}