.site-footer {
	margin-top: auto;
	text-align: center;
	padding: 0 2rem;
	color: var(--color-secondary);

	@include mq(medium) {
		flex-direction: row;
		padding: 0 4rem;
	}

	p, a {
		color: var(--color-secondary);
	}

	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		@include mq(medium) {
			flex-direction: row;
		}
	}
	&__bottom {
		margin-top: 1rem;
		margin-bottom: 2rem;
		@include mq(medium) {
			margin-top: 4rem;
			margin-bottom: 0;
		}
	}
}

.site-footer__logo {
	font-size: 2rem;
	margin: 0;
	
	width: 123px;
	// height: 38px;
	@include mq(medium) {
		width: 180px;
		// height: 56px;
	}
}

.site-footer__inner {
	// @extend .container;
	// padding: 0 4rem;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	.site-footer__logo {
		margin-bottom: 0;
	}
}

.site-footer p {
	color: var(--color-secondary);
	margin: 0;
	font-size: var(--font-size-small);
}

.site-footer__nav .menu {
	display: flex;

	a {
		font-weight: var(--font-weight-bold);
		text-decoration: none;
		margin: 0 1rem;
		@include mq(medium) {
			margin: 0 1.5rem;
		}
		&:last-child {
			@include mq(medium) {
				margin-right: 0;
			}
		}
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
}