@charset "UTF-8";
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}

:root {
  --body-family: arboria, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: arboria, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --line-height: 1.5;
  --line-height-headings: 1.2;
  --color-grey-dark: #6a6a6a;
  --color-grey: #ddd;
  --color-grey-light: #efefef;
  --color-primary: #111A28;
  --color-primary-light: #1F2B3C;
  --color-secondary: #00B1A7;
  --color-secondary-dark: #426B68;
  --color-secondary-light: #96B1AD;
  --color-tertiary: #9F507E;
  --color-tertiary-light: #B56E98;
  --color-quaternary: #E2574C;
  --color-text-base: #fff;
  --color-text-dark: #333;
  --color-text-reversed: #fff;
  --color-text-link: var(--color-secondary-light);
  --color-text-hover: var(--color-secondary);
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: var(--color-primary);
  --border-radius: 16px;
  --spacing-xxl: 200px;
  --spacing-xl: 120px;
  --spacing-l: 100px;
  --spacing: 70px;
  --spacing-s: 50px;
  --spacing-xs: 25px;
  --spacing-base: 1rem;
  --container-s: 800px;
  --container: 1200px;
  --container-l: 1430px;
  --content-width: var(--container);
  --container-global: 1800px;
  --font-size: 16px;
  --font-size-lead: calc(1.2rem + 0.1vw);
  --font-size-small: calc(0.9rem + 0.1vw);
  --font-size-h1: calc(2rem + 0.2vw);
  --font-size-h2: calc(1.8rem + 0.2vw);
  --font-size-h3: calc(1.6rem + 0.2vw);
  --font-size-h4: calc(1.3rem + 0.2vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
}
@media (min-width: 50em) {
  :root {
    --font-size: calc(1rem + 0.15vw);
    --font-size-h1: calc(3.2rem + 0.2vw);
    --font-size-h2: calc(2.8rem + 0.2vw);
    --font-size-h3: calc(2.2rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(3.2rem + 0.2vw);
    --font-size-h2: calc(2.8rem + 0.2vw);
    --font-size-h3: calc(2.2rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--body-family);
  font-size: 18px;
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-nav {
  background: #eee;
  color: var(--color-text-base);
  border-radius: 8px;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
  font-size: 18px;
}
p:last-of-type {
  margin-bottom: 0;
}

p.lead, .form-block__body-content p {
  font-size: var(--font-size-lead);
}

strong {
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: var(--spacing-xs);
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-heavy);
  color: var(--heading-color);
}

h4,
h5 {
  font-weight: var(--font-weight-bold);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

/* Generate block colours */
.has-white-color {
  color: #fff !important;
}

.has-white-background-color {
  background-color: #fff !important;
}

.has-black-color {
  color: #000 !important;
}

.has-black-background-color {
  background-color: #000 !important;
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.has-primary-background-color {
  background-color: var(--color-primary) !important;
}

.has-secondary-color {
  color: var(--color-secondary) !important;
}

.has-secondary-background-color {
  background-color: var(--color-secondary) !important;
}

.has-tertiary-color {
  color: var(--color-tertiary) !important;
}

.has-tertiary-background-color {
  background-color: var(--color-tertiary) !important;
}

.has-quaternary-color {
  color: var(--color-quaternary) !important;
}

.has-quaternary-background-color {
  background-color: var(--color-quaternary) !important;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}

/* Add bullets to list */
.block-editor-block-list__block {
  list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--content-width);
  /* Post title styling */
}
/* Main column width */
.wp-block {
  max-width: var(--content-width);
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .tabbed, .quote-block, .logo-block, .icon-block, .form-block, .cta, .content-block, .two-col__video, .two-col, .main,
.container-s {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: var(--container);
}
@media (min-width: 50em) {
  .container, .tabbed, .quote-block, .logo-block, .icon-block, .form-block, .cta, .content-block, .two-col__video, .two-col, .main,
.container-s {
    padding: 0 4rem;
  }
}
@media (min-width: 80em) {
  .container, .tabbed, .quote-block, .logo-block, .icon-block, .form-block, .cta, .content-block, .two-col__video, .two-col, .main,
.container-s {
    padding: 0 1rem;
  }
}

.container-s {
  max-width: var(--container-s);
}

.main {
  max-width: var(--content-width);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  flex: 1;
}

.text--white h1, .text--white h2, .text--white h3, .text--white h4, .text--white h5, .text--white h6, .text--white p, .text--white ul li {
  color: white;
}

.bkg--white {
  background-color: white;
}
.bkg--white + .bkg--white {
  margin-top: 0;
  padding-top: 0;
}
.bkg--blue {
  background-color: var(--color-primary);
}
.bkg--light {
  background-color: var(--color-primary-light);
}
.bkg--green-light {
  background-color: var(--color-secondary-light);
}
.bkg--green-dark {
  background-color: var(--color-secondary-dark);
}
.bkg--magenta {
  background-color: var(--color-tertiary);
}
.bkg--black {
  background-color: var(--color-black);
  color: white;
}
.bkg--grad {
  background: black;
  background: linear-gradient(90deg, var(--color-grey-dark) 0%, var(--color-primary) 100%);
  color: white;
}
.bkg--services {
  background-position: calc(100% + 20px) -60px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-image: url("../../src/icons/services.svg");
}
.bkg--casestudy {
  background-position: -20px calc(100% + 120px);
  background-size: 45%;
  background-repeat: no-repeat;
  background-image: url("../../src/icons/casestudy.svg");
}

.txt--red {
  color: var(--color-primary);
}

.sp {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sp {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}

.sp--bottom {
  padding-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sp--bottom {
    padding-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp--bottom {
    padding-bottom: var(--spacing-xl);
  }
}

.sp--top {
  padding-top: var(--spacing);
}
@media (min-width: 50em) {
  .sp--top {
    padding-top: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp--top {
    padding-top: var(--spacing-xl);
  }
}

.sm {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sm {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
}

.sm--bottom {
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sm--bottom {
    margin-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm--bottom {
    margin-bottom: var(--spacing-xl);
  }
}

.sm--top {
  margin-top: var(--spacing);
}
@media (min-width: 50em) {
  .sm--top {
    margin-top: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm--top {
    margin-top: var(--spacing-xl);
  }
}

.content .btn,
.content-block .btn {
  margin-right: auto;
  text-decoration: none;
}
.content .btn:hover,
.content-block .btn:hover {
  text-decoration: none;
}
.content a,
.content-block a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover,
.content-block a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote,
.content-block blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure,
.content-block figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption,
.content-block figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul,
.content-block ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.content li,
.content-block li {
  margin-bottom: 0.25em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.btn,
.wpcf7-submit,
.input.wpcf7-submit {
  white-space: nowrap;
  border-radius: 0;
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-family: var(--display-family);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.btn:hover, .btn:focus,
.wpcf7-submit:hover,
.wpcf7-submit:focus,
.input.wpcf7-submit:hover,
.input.wpcf7-submit:focus {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  outline: 0;
  color: var(--color-primary);
  text-decoration: none;
  position: relative;
}
.btn a,
.wpcf7-submit a,
.input.wpcf7-submit a {
  color: var(--color-secondary);
  text-decoration: none;
}
.btn a:hover, .btn a:focus,
.wpcf7-submit a:hover,
.wpcf7-submit a:focus,
.input.wpcf7-submit a:hover,
.input.wpcf7-submit a:focus {
  color: var(--color-primary);
  text-decoration: none;
}
.btn + .btn,
.wpcf7-submit + .btn,
.input.wpcf7-submit + .btn {
  margin-left: 0.5rem;
}

span.btn {
  padding: 0;
  display: inline-flex;
}
span.btn a {
  padding: 1rem 1.5rem;
}

.btn--primary,
.wpcf7-submit,
.input.wpcf7-submit {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
}
.btn--primary:hover, .btn--primary:focus,
.wpcf7-submit:hover,
.wpcf7-submit:focus,
.input.wpcf7-submit:hover,
.input.wpcf7-submit:focus {
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-light);
}

.btn--secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
}
.btn--secondary:hover, .btn--secondary:focus {
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-light);
}

span.btn--secondary a {
  color: var(--color-primary);
}

.btn--secondary-light {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-light);
  color: var(--color-text-base);
}
.btn--secondary-light:hover, .btn--secondary-light:focus {
  border: 1px solid var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
  color: var(--color-text-base);
}

.btn--secondary-dark {
  background-color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
  color: var(--color-text-base);
}
.btn--secondary-dark:hover, .btn--secondary-dark:focus {
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-light);
  color: var(--color-text-base);
}

.btn--tertiary {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  color: var(--color-text-base);
}
.btn--tertiary:hover, .btn--tertiary:focus {
  border: 1px solid var(--color-tertiary-light);
  background-color: var(--color-tertiary-light);
  color: var(--color-text-base);
}

.wpcf7-submit,
.input.wpcf7-submit {
  padding: 1rem 3rem;
}

.two-col {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .two-col {
    flex-direction: row;
  }
}
.two-col__item {
  width: 100%;
}
@media (min-width: 50em) {
  .two-col__item {
    width: 50%;
    padding: 0 1rem;
  }
}
.two-col__item h2, .two-col__item h3, .two-col__item h4, .two-col__item h5 {
  padding-right: 2rem;
}
.two-col__item ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.two-col__item li {
  margin-bottom: 0.25em;
}
.two-col__item:first-of-type {
  margin-bottom: 1.5rem;
}
@media (min-width: 50em) {
  .two-col__item:first-of-type {
    margin-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 50em) {
  .two-col__item:last-of-type {
    padding-right: 0;
  }
}
.two-col__item--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 50em) {
  .two-col__item--center {
    padding-left: 4rem;
  }
}
.two-col__item--center:first-of-type {
  padding-right: 0;
}
@media (min-width: 50em) {
  .two-col__item--center:first-of-type {
    padding-right: 4rem;
  }
}
.two-col__video {
  margin-top: var(--spacing-s);
  height: 50vw;
  max-height: calc(var(--container) / 2);
}

.accordion {
  max-width: var(--content-width);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  padding: 0;
}

.accordion__item {
  border-top: 1px solid var(--color-grey-light);
}

.accordion__handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: var(--spacing) 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-top: 1px solid var(--color-grey-tint);
}

.accordion__title {
  margin: 0 !important;
  color: var(--color-text-dark);
  text-transform: uppercase;
  font-size: var(--font-size-h5);
  flex: 1;
}
.is-active .accordion__title {
  color: var(--color-primary);
}

.accordion__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 var(--spacing);
}
.accordion__icon:before, .accordion__icon:after {
  content: "";
  position: absolute;
  background: var(--color-text-base);
  transition: transform 0.25s ease-out;
}
.accordion__icon:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.accordion__icon:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.is-active .accordion__icon:before {
  transform: rotate(90deg);
}
.is-active .accordion__icon:after {
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding-bottom: var(--spacing-l);
}
.accordion__body p:first-child {
  margin-top: 0;
}
.accordion__body.is-open {
  display: block;
}

.banner {
  max-width: 1600px;
  min-height: calc(100vh + 0px);
  position: relative;
  background-size: cover;
  background-position: center center;
  display: flex;
  overflow: hidden;
  margin: 0 auto var(--spacing) auto;
}
@media (max-width: 49.99em) {
  .banner {
    background-image: none !important;
  }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .banner {
    min-height: calc(100vh + 30px);
  }
}
.banner__content {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-xxl);
}
.banner__content h1 {
  margin-bottom: var(--spacing-s);
}
@media (min-width: 80em) {
  .banner__content h1 {
    max-width: 90%;
  }
}
.banner__content--small h1 {
  font-size: var(--font-size-h1-small);
}
.banner__content .btn {
  border-color: white;
  color: white;
}
.banner__content .btn:hover {
  border-color: var(--color-primary);
}
.banner__text {
  margin-top: auto;
  width: 100%;
  border-top: 2px solid white;
  padding: var(--spacing-xs) 10% var(--spacing-xs) 0;
}
@media (min-width: 50em) {
  .banner__text {
    padding: var(--spacing-s) 20% var(--spacing-s) 0;
  }
}
.banner--notext {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
}
.banner__image {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  min-width: calc(100% + 2px);
  min-height: calc(100% + 2px);
  display: block;
}
@media (min-width: 50em) {
  .banner__image {
    display: none;
  }
}
.banner--video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background: black;
}
@media (min-width: 50em) {
  .banner--video {
    height: 100%;
  }
}
.banner--video video {
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  min-height: 85vh;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
.video-embed iframe {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-block {
  padding-top: var(--spacing);
}
@media (max-width: 49.99em) {
  .content-block br {
    display: none;
  }
}
.content-block__small {
  max-width: var(--container-s);
}
.content-block--video {
  margin-top: var(--spacing-xs);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.content-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cta__content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--color-primary-light);
  padding: var(--spacing-s) var(--spacing-xs);
}
@media (max-width: 49.99em) {
  .cta__content br {
    display: none;
  }
}
@media (min-width: 50em) {
  .cta__content {
    flex-direction: row;
    padding: var(--spacing-s);
  }
}
@media (min-width: 70em) {
  .cta__content {
    padding: var(--spacing-s);
  }
}
.cta__content h2, .cta__content h3, .cta__content h4, .cta__content h5 {
  text-transform: none;
  color: var(--color-secondary);
}

@media (max-width: 49.99em) {
  .cta.bkg--white + .bkg--white {
    padding-top: var(--spacing-s);
  }
}

.form-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .form-block {
    flex-direction: column;
  }
}
.form-block__header {
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  background-color: var(--color-secondary);
}
@media (min-width: 50em) {
  .form-block__header {
    padding: var(--spacing-s) var(--spacing-l);
  }
}
.form-block__header-content {
  position: relative;
  color: white;
}
.form-block__header-content .btn, .form-block__header-content .btn--secondary {
  margin-top: 0;
  color: var(--color-secondary);
}
.form-block__header-content .btn a, .form-block__header-content .btn--secondary a {
  color: var(--color-secondary);
}
.form-block__header-content:before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% - 8px);
  left: -1.5rem;
  top: 8px;
  background-color: white;
}
.form-block__body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .form-block__body {
    flex-direction: row;
  }
}
.form-block__body-content {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .form-block__body-content {
    width: 50%;
    padding-right: 10%;
    margin-bottom: 0;
  }
}
.form-block__body-form {
  width: 100%;
}
@media (min-width: 50em) {
  .form-block__body-form {
    width: 50%;
    padding-left: 1rem;
  }
}

.icon-block {
  text-align: center;
}
@media (min-width: 50em) {
  .icon-block {
    text-align: left;
  }
}
.icon-block + .icon-block,
.icon-block + .cta {
  padding-top: 0;
}

.icon-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .icon-list {
    flex-direction: row;
  }
}
.icon-list__title {
  margin-bottom: 3rem;
}
@media (min-width: 50em) {
  .icon-list__title {
    margin-bottom: var(--spacing);
  }
}
.icon-list__item {
  position: relative;
  border-radius: var(--border-radius);
  width: 100%;
  text-decoration: none;
  color: var(--color-text-base);
  margin: 0 0rem 3rem 0;
  transition: transform 0.1s ease-in-out;
}
@media (min-width: 50em) {
  .icon-list__item {
    margin: 0 2rem;
  }
}
@media (min-width: 50em) {
  .icon-list__item:first-of-type {
    margin-left: 0;
  }
}
.icon-list__item:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 50em) {
  .icon-list__item:last-of-type {
    margin-right: 0;
  }
}
.icon-list__item--bkg {
  padding: 2rem 3rem;
}
.icon-list__item--bkg h2, .icon-list__item--bkg h3, .icon-list__item--bkg h4, .icon-list__item--bkg h5, .icon-list__item--bkg .lead, .icon-list__item--bkg .form-block__body-content p, .form-block__body-content .icon-list__item--bkg p {
  color: var(--color-secondary);
}
.icon-list__content {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .icon-list__content {
    align-items: flex-start;
  }
}
.icon-list__content .btn {
  margin-top: auto;
}
.icon-list__image {
  height: 42px;
  margin-bottom: 1.5rem;
}
.icon-list__image img {
  width: 100%;
  height: 100%;
}

.logo-block + .icon-block,
.logo-block + .cta {
  padding-top: 0;
  margin-top: 0;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo-list__title {
  margin-bottom: var(--spacing);
}
.logo-list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  width: 33.3333333333%;
  text-decoration: none;
  color: var(--color-text-base);
  padding: 1rem;
  margin-bottom: 2rem;
  transition: transform 0.1s ease-in-out;
}
@media (min-width: 50em) {
  .logo-list__item {
    width: 25%;
    padding: 2rem;
  }
}
.logo-list__item img {
  max-height: 120px;
}
.logo-list__content {
  height: 100%;
  position: relative;
  z-index: 1;
}
.logo-list__content .btn {
  margin-top: auto;
}
.logo-list__image img {
  width: 100%;
  height: 100%;
}

.quote-block {
  text-align: center;
}
.quote--slider {
  margin-top: var(--spacing);
}
.quote--item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 var(--spacing-s);
}
@media (min-width: 50em) {
  .quote--item {
    padding: 0 var(--spacing-xxl);
  }
}
.quote--item__quote {
  margin-bottom: 2rem;
}
.quote--item p {
  margin-bottom: 0;
}
@media (max-width: 49.99em) {
  .quote--item p {
    font-size: 1rem;
  }
}

.tabbed.has-tabs .tabbed--buttons {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.tabbed.has-tabs .tabbed--item {
  min-height: 0;
}
.tabbed.has-tabs .tabbed--item::before {
  display: none;
}
.tabbed.has-tabs .tabbed--item.is-active .tabbed--item__inner {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.tabbed.has-tabs .tabbed--item .tabbed--item__inner {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.tabbed-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .tabbed-products {
    margin: 0 3rem 3rem 3rem;
    flex-direction: row;
  }
}
.tabbed-products--item {
  flex: 1 1 0px;
  margin: 0rem 2rem 1rem 2rem;
  padding: 2rem;
}
@media (min-width: 50em) {
  .tabbed-products--item {
    margin: 1rem;
  }
  .tabbed-products--item:first-child {
    margin-left: 0;
  }
  .tabbed-products--item:last-child {
    margin-right: 0;
  }
}

.tabbed--buttons {
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
}
.tabbed--buttons .tab {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  background: transparent;
  color: var(--color-secondary);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  border: none;
  border-top: 3px solid var(--color-primary-light);
  margin: 0 0.5rem;
  cursor: pointer;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab {
    text-align: center;
    width: calc(33.3333333333% - 0.75rem);
    padding: 1rem 1rem;
    background: transparent;
    color: var(--color-secondary);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    border: none;
    border-top: 3px solid var(--color-primary-light);
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
.tabbed--buttons .tab:first-of-type {
  margin-left: 0;
}
.tabbed--buttons .tab:last-of-type {
  margin-right: 0;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__tertiary:hover, .tabbed--buttons .tab__tertiary:focus {
    border-top: 3px solid var(--color-tertiary);
    color: var(--color-tertiary);
  }
}
.tabbed--buttons .tab__tertiary.is-active:hover, .tabbed--buttons .tab__tertiary.is-active:focus {
  background: transparent;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__tertiary.is-active {
    border-top: 3px solid var(--color-tertiary);
    color: var(--color-tertiary);
  }
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__secondary:hover, .tabbed--buttons .tab__secondary:focus {
    border-top: 3px solid var(--color-secondary);
    color: var(--color-secondary);
  }
}
.tabbed--buttons .tab__secondary.is-active:hover, .tabbed--buttons .tab__secondary.is-active:focus {
  background: transparent;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__secondary.is-active {
    border-top: 3px solid var(--color-secondary);
    color: var(--color-secondary);
  }
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__secondary-dark:hover, .tabbed--buttons .tab__secondary-dark:focus {
    border-top: 3px solid var(--color-secondary-dark);
    color: var(--color-secondary-dark);
  }
}
.tabbed--buttons .tab__secondary-dark.is-active:hover, .tabbed--buttons .tab__secondary-dark.is-active:focus {
  background: transparent;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__secondary-dark.is-active {
    border-top: 3px solid var(--color-secondary-dark);
    color: var(--color-secondary-dark);
  }
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__light:hover, .tabbed--buttons .tab__light:focus {
    border-top: 3px solid var(--color-secondary-light);
    color: var(--color-secondary-light);
  }
}
.tabbed--buttons .tab__light.is-active:hover, .tabbed--buttons .tab__light.is-active:focus {
  background: transparent;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab__light.is-active {
    border-top: 3px solid var(--color-secondary-light);
    color: var(--color-secondary-light);
  }
}
.tabbed--buttons .tab.is-active:hover, .tabbed--buttons .tab.is-active:focus {
  background: transparent;
}
@media (min-width: 50em) {
  .tabbed--buttons .tab {
    text-align: center;
    width: calc(33.3333333333% - 0.75rem);
    padding: 1rem 1rem;
    background: transparent;
    color: var(--color-secondary);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    border: none;
    border-top: 3px solid var(--color-primary-light);
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
.tabbed--buttons .tab:first-of-type {
  margin-left: 0;
}
.tabbed--buttons .tab:last-of-type {
  margin-right: 0;
}

.tabbed--item {
  background: #1f2b3c;
  background: linear-gradient(90deg, #1f2b3c 0%, #111a28 100%);
  position: relative;
  overflow: hidden;
}
@media (min-width: 50em) {
  .tabbed--item {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.tabbed--item::before {
  padding: 1rem;
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  margin-bottom: 0.5rem;
  background: var(--color-primary-light);
  border: 1px solid var(--color-secondary);
  border-radius: 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary);
  display: block;
  border-radius: 0;
}
.tabbed--item:hover, .tabbed--item:focus {
  outline: none;
}
.tabbed--item:hover::before, .tabbed--item:focus::before {
  background: var(--color-secondary);
  color: white;
}
.tabbed--item::after {
  content: url("../../src/images/arrow-small-down.svg");
  width: 26px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}
.tabbed--item.is-active .tabbed--item__inner {
  margin-top: 0;
  height: auto;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
}
.tabbed--item.is-active::before {
  background: transparent;
  border-color: var(--color-primary-light);
  color: white;
}
.tabbed--item.is-active::after {
  display: none;
}
.tabbed--item.is-active:hover::before, .tabbed--item.is-active:focus::before {
  background: var(--color-primary-light);
}
.tabbed--item__content {
  display: flex;
  order: 2;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 2rem 2rem;
}
@media (min-width: 50em) {
  .tabbed--item__content {
    order: 1;
    flex-direction: column;
    width: 40%;
    padding: 3rem 2rem 3rem 3rem;
  }
}
.tabbed--item__content .btn {
  margin-top: 1rem;
}
.tabbed--item__content--full {
  display: flex;
  order: 2;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 2rem 2rem;
}
@media (min-width: 50em) {
  .tabbed--item__content--full {
    order: 1;
    flex-direction: column;
    width: 80%;
    padding: 3rem 2rem 3rem 3rem;
  }
}
.tabbed--item__content--full .btn {
  margin-top: 1rem;
}
.tabbed--item__image {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  order: 1;
}
@media (min-width: 50em) {
  .tabbed--item__image {
    width: 60%;
    margin-bottom: 0;
    padding: 0;
  }
}
.tabbed--item__image img {
  width: 100%;
}
.tabbed--item__image--center {
  align-items: center;
}
.tabbed--item__image--bottom {
  margin-top: auto;
}

.tabbed--item-container {
  overflow: hidden;
}

.tabbed--item__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -100%;
  height: 0;
  opacity: 0;
  transition: margin 500ms ease-in;
}
@media (min-width: 50em) {
  .tabbed--item__inner {
    flex-direction: row;
  }
}

.u-bold {
  font-weight: bold !important;
}

.u-semibold {
  font-weight: 600 !important;
}

.u-regular {
  font-weight: normal !important;
}

.u-light {
  font-weight: 300 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-caps {
  text-transform: uppercase !important;
}

.u-left-align {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right-align {
  text-align: right !important;
}

.mt-xxl {
  margin-top: var(--spacing-xxl) !important;
}

.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-l {
  margin-top: var(--spacing-l) !important;
}

.mt {
  margin-top: var(--spacing) !important;
}

.mt-s {
  margin-top: var(--spacing-s) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-l {
  margin-bottom: var(--spacing-l) !important;
}

.mb {
  margin-bottom: var(--spacing) !important;
}

.mb-s {
  margin-bottom: var(--spacing-s) !important;
}

.mb-xs {
  margin-bottom: var(--spacing-xs) !important;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.testimonials--item:not(:first-child) {
  display: none;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .form-fields {
    margin: 0 auto;
  }
}
.form-fields--half {
  margin-bottom: 0.2rem;
  width: 100%;
}
@media (min-width: 50em) {
  .form-fields--half {
    margin-bottom: 0.2rem;
    width: 50%;
    padding-left: 0.5rem;
  }
}
@media (min-width: 50em) {
  .form-fields--half:first-child {
    padding-left: 0;
    padding-right: 0.5rem;
  }
}
.form-fields--full {
  margin-bottom: 1rem;
  width: 100%;
}
.form-fields input[type=email],
.form-fields input[type=number],
.form-fields input[type=search],
.form-fields input[type=text],
.form-fields input[type=tel],
.form-fields input[type=url],
.form-fields input[type=password],
.form-fields select,
.form-fields textarea {
  padding: 1rem 1.5rem;
  background-color: #263346;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: var(--body-family);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size);
  width: 100%;
  display: inline-block;
  margin-bottom: 0.7rem;
  color: var(--color-text-base);
}
.form-fields input[type=email] .full-width,
.form-fields input[type=number] .full-width,
.form-fields input[type=search] .full-width,
.form-fields input[type=text] .full-width,
.form-fields input[type=tel] .full-width,
.form-fields input[type=url] .full-width,
.form-fields input[type=password] .full-width,
.form-fields select .full-width,
.form-fields textarea .full-width {
  width: 100%;
}
.form-fields input[type=email],
.form-fields input[type=number],
.form-fields input[type=search],
.form-fields input[type=text],
.form-fields input[type=tel],
.form-fields input[type=url],
.form-fields input[type=password],
.form-fields textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-fields input[type=email]:focus,
.form-fields input[type=number]:focus,
.form-fields input[type=search]:focus,
.form-fields input[type=text]:focus,
.form-fields input[type=tel]:focus,
.form-fields input[type=url]:focus,
.form-fields input[type=password]:focus,
.form-fields textarea:focus,
.form-fields select:focus {
  outline: 0;
}
.form-fields label {
  display: none;
  color: black;
}
.form-fields input[type=checkbox],
.form-fields input[type=radio] {
  display: inline;
}
