.quote {
	&-block {
		@extend .container;
		text-align: center;
		// padding: var(--spacing-l);
	}
	&--slider {
		margin-top: var(--spacing);
	}

	&--item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 var(--spacing-s);
		@include mq(medium) {
			padding: 0 var(--spacing-xxl);
		}
		&__quote {
			margin-bottom: 2rem;
		}
		p {
			margin-bottom: 0;
			@include mq($until: medium) {
				font-size: 1rem;
			}
		}
	}
}