table {
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
	+ p,
	+ h2,
	+ h3,
	+ h4 {
		margin-top: 1rem;
	}
}

table th,
table td {
	padding: 0.5em;
	border: 1px solid var(--color-grey);
	text-align: left;
	-webkit-font-smoothing: antialiased;
}

table th {
	text-align: center;
	background-color: var(--color-tertiary);
}
table th {
	// position: sticky;
	// top: 200px;
}
table tr:last-child td {
	// border-bottom: none;
}

table tr:nth-child(even) {
	// background: var(--color-grey-light);
}